body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 8px;
    gap: 32px;

}

a {
    color: white;
    text-decoration: none;  
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
    color: white;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0px;
    margin: 0px;
}

.top {
    flex: 1;
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: #1F2937;
    color: white; 
}

.menu {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 450px;
    padding: 32px;
}

.top button, .request button {
    background-color: #3882f6;
    padding: 4px 16px;
    border-radius: 10px;
    border-color: white;
    color: white;
}

.menu .menu-text {
    font-size: 48px;
    font-weight: bold;
}

.menu .sub-menu-text {
    font-size: 18px;
    font-weight: lighter;
}

.image img {
    width: 450px;
    height: 175px;  
}

.middle {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color:;
}

.text {
   text-align: center;
}

#text69 {
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color:;
}

.info2 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:;   
    gap: 64px;
}

.info img {
    border: solid;
    border-color: #3882f6;
    border-radius: 15px;
    width: 175px;
    height: 175px;
}

.info {
    max-width: 175px;
}

.middle2 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}

.quote {
   font-size: 36px;
   color: black;
   max-width: 950px;
   font-style: italic;
   font-weight: lighter
}

#left {
    font-size: 24px;
    text-align: end;
    max-width: 950px;
    padding-top: 8px;
}

.request {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 54px;
}

.why {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#3882f6;
    padding: 32px 16px;
    max-width: 1000px;
    color: white;
    border-radius: 15px;   
}

.other {
    font-weight: bold;
}

.other2 {
    font-weight:lighter;
    font-size: 12px;
}

.footer {
    flex: 1;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;    
    color: white;
    padding: 4px;
}

